{{!Denna är en komponent som vi har skapat för att göra koden mer effektiv och läsbar.
Man säger att man "refactor" en komponent för att återvanda den. }}

<div class="jumbo">
  <div class="right tomster"></div>
  {{yield}}  {{!Detta ersätts av innehållet}}
</div>

{{!Vi kallar denna komponent genom att skriva <Jumbo></Jumbo>}}