{{!Här skapades en till komponent för navbar.}}


<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Ember Shop</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      Contact
    </LinkTo>
  </div>
</nav>

{{!Vi anropar denna komponent genom att skriva <NavBar />
Två detaljer när det gäller NavBar, för det första, det är en självstängande tag,
för det andra, den är skriven med PascalCase, som är typisk av Ember}}