<Jumbo>
  <h2>About Ember Shop</h2>
  <p>
    This shop was created in order to practice building a project with the framework Ember.js. <br>
    This page, for example, was linked to the homepage by creating a route and by linking it 
    thanks to LinkTo.
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo> {{!Detta länkar sidorna}}
</Jumbo>