<NavBar />
<Jumbo>
  <h2>(Don't) Contact Us</h2>
  <p>
    We really don't want to get in touch with you,<br>
    but if you really want to, here's a fictional address:
  </p>
  <address>
    Ember Shop HQ
    <p>
      12 NopeGatan<br>
      Alingsås 44132
    </p>
    <a href="tel:503.555.1212">+1 (503) 555-1212</a><br>
    <a href="mailto:pleasedontemailme@gmail.com">pleasedontemailme@gmail.com</a>
  </address>
  <LinkTo @route="about" class="button">About</LinkTo> {{!Detta länkar sidorna}}
</Jumbo>